@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=2cfcdd37-2657-47b0-8c92-7cb714e944ed");
@font-face{
    font-family:"Adobe Caslon W01_n7";
    src: url("../fonts/9a3ba5ec-ca51-4d63-8138-252fa1dd356c.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Adobe Caslon W01";
    src: url("../fonts/9a3ba5ec-ca51-4d63-8138-252fa1dd356c.eot?#iefix");
    src: url("../fonts/9a3ba5ec-ca51-4d63-8138-252fa1dd356c.eot?#iefix") format("eot"),url("../fonts/9a55e467-ac64-46db-8231-6e27a3ca005d.woff2") format("woff2"),url("../fonts/fee04c62-acaf-4b3a-904b-76ced4495f28.woff") format("woff"),url("../fonts/1869eb01-816d-4fb8-9481-847bb0b2196e.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family:"Proxima Nova W01_n5";
    src: url("../fonts/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W01-regular";
    src: url("../fonts/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix");
    src: url("../fonts/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix") format("eot"),url("../fonts/e898042a-5eb9-4810-b578-c3993ab58f0f.woff2") format("woff2"),url("../fonts/cb9d4f02-d326-46b0-a857-930cce057f80.woff") format("woff"),url("../fonts/75cafc03-22e4-41b0-8bc2-1b9081506ecc.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family:"Proxima Nova W01_i5";
    src: url("../fonts/8c7dafc9-d10f-41d0-a036-be19229ef40e.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W01";
    src: url("../fonts/8c7dafc9-d10f-41d0-a036-be19229ef40e.eot?#iefix");
    src: url("../fonts/8c7dafc9-d10f-41d0-a036-be19229ef40e.eot?#iefix") format("eot"),url("../fonts/ce88a131-85cb-4a39-8dd1-3a4f5817b70c.woff2") format("woff2"),url("../fonts/3ffc4ea2-8461-4897-a809-dbf92500372c.woff") format("woff"),url("../fonts/da3b3dc5-47e4-44a6-8bff-4eee158a59c4.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face{
    font-family:"Proxima Nova W01_n4";
    src: url("../fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W01";
    src: url("../fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
    src: url("../fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("../fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("../fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("../fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family:"Proxima Nova W01_i4";
    src: url("../fonts/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W01";
    src: url("../fonts/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix");
    src: url("../fonts/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix") format("eot"),url("../fonts/129d49d6-5492-4ed1-96f7-0528c6d53abc.woff2") format("woff2"),url("../fonts/9c69c878-2255-4027-8632-ed3635cddf45.woff") format("woff"),url("../fonts/b7eb3871-e910-4522-9982-effb425a2714.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family:"Proxima Nova W01";
    src: url("../fonts/e026eaa9-eb45-49d2-bd8f-a8a247d6462b.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W01_n7-condensed";
    src: url("../fonts/e026eaa9-eb45-49d2-bd8f-a8a247d6462b.eot?#iefix");
    src: url("../fonts/e026eaa9-eb45-49d2-bd8f-a8a247d6462b.eot?#iefix") format("eot"),url("../fonts/d90a27b5-fa8f-482d-a337-f0dc9915e3bd.woff2") format("woff2"),url("../fonts/52c399da-5e82-447c-bb36-2a05c02fa7ac.woff") format("woff"),url("../fonts/e772854a-b24b-4544-8c90-e4f3b5685f7b.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
