<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>THE BODYGUARD - THE MUSICAL</title>

	<link href="./assets/css/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>
  
  <div class="bg-wrap">
    <header class="header">
      <div class="header__wrap">
        <img class="logo" src="./assets/images/logo.png" alt="The Bodyguard - The Musical">
        
        <a href="#" class="menu">
          MENU
          <div class="menu__wrap">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>

        <a href="#" class="finder">
          <i class="fas fa-map-marker-alt"></i>
          <span class="finder__span">UK TOUR</span>
        </a>
      </div>

      <nav>
      </nav>
    </header>

    <section class="section__swiper">

      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>

    </section>
  </div>

	<script src="./assets/js/main.min.js"></script>


</body>
</html>