<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>THE BODYGUARD - THE MUSICAL</title>

	<link href="./assets/css/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>
  
  <div class="bg-wrap">

    <header class="header">
      <div class="header__wrap">
        <img class="logo" src="./assets/images/logo.png" alt="The Bodyguard - The Musical">
        
        <a href="#" class="menu">
          MENU
          <div class="menu__wrap">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>

        <a href="#" class="finder">
          <i class="fas fa-map-marker-alt"></i>
          <span class="finder__span">UK TOUR</span>
        </a>
      </div>

      <nav>
      </nav>
    </header>

    <section class="section__swiper">

      <div class="swiper-container swiper-a">
  
        <div class="swiper-wrapper">
            
            <div class="swiper-slide">
              <div class="rotate-label">SWIPE RIGHT</div>
            </div>

            <div class="swiper-slide">
              <a href="#">
                <p>
                  <span class="sub-title">Tour Opens in</span>
                  THEATRE ROYAL<br>
                  <span class="location"><i class="fas fa-map-marker-alt"></i>GLASGOW</span>
                  <span class="sub-title">Book Now</span>
                </p>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#">
                <p>
                  <span class="sub-title">Next city</span>
                  HULL NEW THEATRE<br>
                  <span class="location"><i class="fas fa-map-marker-alt"></i>HULL</span>
                  <span class="sub-title">Book Now</span>
                </p>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#">
                <p>
                  <span class="sub-title">Coming soon</span>
                  CLIFFS PAVILLION<br>
                  <span class="location"><i class="fas fa-map-marker-alt"></i>SOUTHEND</span>
                  <span class="sub-title">Book Now</span>
                </p>
              </a>
            </div>

        </div>
        
        <div class="swiper-pagination"></div>

      </div>

    </section>
    
    <section class="container">
      <div class="row">
        <div class="col-sm-12">
          <a class="button" href="#"><span><i class="fas fa-th"></i>VIEW ALL TOUR DATES</span></a>
        </div>
      </div>
    </section>
  </div>  

  <section class="section__tiles">

    <div class="row no-gutters">
      <div class="col-sm-12"> 
        <div class="section__tiles__content tile-a">
        
          <div class="swiper-container swiper-b">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <p>“Nullam id dolor id nibh ultricies vehicula ut id elit” <span>Attribute</span></p>
              </div>
              <div class="swiper-slide">
                <p>“Nullam id dolor id nibh ultricies vehicula ut id elit” <span>Attribute</span></p>
              </div>
              <div class="swiper-slide">
                <p>“Nullam id dolor id nibh ultricies vehicula ut id elit” <span>Attribute</span></p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>      

        </div>

        <div class="btn-wrap">
          <a class="button no-margin" href="#"><span><i class="fab fa-spotify"></i>LISTEN ON SPOTIFY APP</span></a>
        </div>

      </div><!-- end col-sm-12 -->
      
      <div class="col-sm-12">
        <div class="section__tiles__content tile-b">

          <div class="content">
            <p>About the Show <span>Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</span></p>

            <a class="button no-margin" href="#">FIND OUT MORE</a>
          </div>

        </div>
      </div><!-- end col-sm-12 -->

    </div>

  </section>

  <footer>
    <div class="container">
      <div class="row footer-top">
        <div class="col-sm-12">
          <p class="heading">FOLLOW US</p>

          <ul>
            <li><a href="#" alt="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" alt="twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" alt="instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" alt="youtube"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 footer-left">
          <img src="./assets/images/mac-logo.png" alt="MAC - Make-up provided by MAC Cosmetics">
          <p>© 2018 Bodyguard UK Ltd</p>
        </div>

        <div class="col-12 col-sm-6 footer-right">
          <div class="row">
            <div class="col-6 col-sm-5">
              <p class="heading">HELP?</p>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>

            <div class="col-6 col-sm-7">
              <p class="heading">USEFUL LINKS</p>
              <ul>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <section class="footer-lower">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>THE BODYGUARD (TOUR) LIMITED, 2nd Floor 45 Monmouth Street, LONDON WC2H 9DG.</p>
          <p>Registered in England: 09012139 Registered Office Address: Regina House, 124 Finchley Road, London, London, NW3 5JS</p>
          <p>Designed, built and managed by DEWYNTERS</p>
        </div>
      </div>
    </div>
  </section>


	<script src="./assets/js/main.min.js"></script>

</body>
</html>